@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

html {
     scroll-behavior: smooth;
}
#root{
  overflow: hidden;
}
[data-animate] {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5 ease-in
}
[data-animate].show {
  opacity: 1;
  transform: translateY(0);
}

.scrollbar-hide::-webkit-scrollbar {
     display: none;
}
.scrollbar-hide {
     -ms-overflow-style: none;
     scrollbar-width: none;
}
/* .line-clamp-1 {
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden;
}
.line-clamp-2 {
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
} */
.montserrat {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
}
